---
import DangoIcon from './DangoIcon.astro';
---

<div class="gallery-wrap">
  <div class="gallery gallery--bento gallery--switch" id="gallery-8">
    <div class="gallery__item">
      <div class="gallery__item-inner">
        <span class="gallery__label">Focus</span>
      </div>
    </div>
    <div class="gallery__item">
      <div class="gallery__item-inner">
        <div class="gallery__shape gallery__shape--ring"></div>
      </div>
    </div>
    <div class="gallery__item">
      <div class="gallery__item-inner gallery__item-inner--dango">
        <DangoIcon />
      </div>
    </div>
    <div class="gallery__item">
      <div class="gallery__item-inner">
        <span class="gallery__tick">25:00</span>
      </div>
    </div>
    <div class="gallery__item">
      <div class="gallery__item-inner">
        <div class="gallery__shape gallery__shape--arc"></div>
      </div>
    </div>
    <div class="gallery__item">
      <div class="gallery__item-inner">
        <span class="gallery__label">Rest</span>
      </div>
    </div>
    <div class="gallery__item">
      <div class="gallery__item-inner">
        <div class="gallery__shape gallery__shape--filled"></div>
      </div>
    </div>
    <div class="gallery__item">
      <div class="gallery__item-inner">
        <span class="gallery__label">Roll</span>
      </div>
    </div>
  </div>
</div>
